server:
  port: 8081

spring:
  cloud:
    openfeign:
      okhttp:
        enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/cms?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    hikari:
      password: 1
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

  config:
    import: "classpath:config/secrets.yml"

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tryItOutEnabled: true  # π€ Swagger μ‹¤ν–‰ λ²„νΌ κ°•μ  ν™μ„±ν™”
  paths-to-match: /**  # λ¨λ“  API μ—”λ“ν¬μΈνΈλ¥Ό Swaggerμ— ν¬ν•¨
