server:
  port: 8081

spring:
  cloud:
    openfeign:
      okhttp:
        enabled: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tryItOutEnabled: true  # π€ Swagger μ‹¤ν–‰ λ²„νΌ κ°•μ  ν™μ„±ν™”
  paths-to-match: /**  # λ¨λ“  API μ—”λ“ν¬μΈνΈλ¥Ό Swaggerμ— ν¬ν•¨
