server:
  shutdown: graceful
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/order?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    hikari:
      password: 1

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tryItOutEnabled: true  # π€ Swagger μ‹¤ν–‰ λ²„νΌ κ°•μ  ν™μ„±ν™”
  paths-to-match: /**  # λ¨λ“  API μ—”λ“ν¬μΈνΈλ¥Ό Swaggerμ— ν¬ν•¨

feign:
  client:
    url:
      user-api: localhost:8081
